.main__page {
    height: 100vh;
    display: flex;
    margin-left: 10%;
    margin-top: 4%;
}

.slider__main {
    height: 700px;
    width: 700px;
}

.main__text {
    width: 45%;
    margin-left: 3%;
    position: relative;
    bottom: 20%;
    align-self: center;
    color: white;
}


/* next imagem */

.slider__main img {
    border-radius: 30px;
}

#main-slider {
    position: absolute;
    height: 700px;
    width: 700px;
}

#main-next {
    height: 600px;
    width: 600px;
    position: relative;
    z-index: -1;
    left: 50px;
    top: 20%;
}

.slider__controls {
    position: relative;
    top: 20%;
    text-align: center;
}

.slider__controls svg {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.slider__controls button {
    font-size: 16px;
}

.line__main {
    background-color: white;
    height: 1px;
    margin: 10px 0px 10px 0px;
}